body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    background-image: linear-gradient(rgba(0, 0, 255, 0.353), rgba(0, 0, 0, 0.477));
    background-repeat: no-repeat;
    height: 100vh;
}

.contenedor {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(rgba(116, 225, 255, 0.639), rgba(6, 2, 87, 0.34));
    box-shadow: 10px 10px 10px 10px  rgba(166, 245, 253, 0.632);
}

h1 {
    color: #410641;
}

h2{
    color: #05056e;
}

p{
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 70%;
    background-color: #ffffffea;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #01870f;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #4ff136;
}

#datosClima {
    margin-top: 20px;
    font-size: 18px;
}